<body>
	<div class="container-fluid">
		<div class="header">
			<h2>About Microverse Scooters</h2>
		</div>
		<div class="row">
		<div class="col-md-6">
			<p>
				The idea behind our patented Microverse Battery is our very own Rick Sanchez. Rick from an early age wanted to grow up to be a scientist, and worked really hard to achieve his goals of creating a renewable resource. After graduating from MIT cum laude and working for the governement for a stretch, he soon joined our team where he became our head of research and development on developing a top of the line, never run out of power battery! 
			</p>
		</div>
		<div class="col-md-6">
			<p>
				Our head of the Enginerring department is none other than Morty Sanchez, Rick's Grandson! After traveling with his Grandfather and putting in some work with him, Morty talked his Grandfather into joining up with our business to create a top of the line Scooter to help with our global warming. Morty was able to take his grandfathers battery and turn it into our powersource for running our scooters with some help from Rick. A lot of help actually.
			</p>
		<end>
		</div>
		</div>
	</div>
</body>