<body>
	<div class="container-fluid">
		<div class="header">
			<h2>About Microverse Scooters</h2>
		</div>
		<div class="row">
			<div class="col-md-12">
				The concept behind our patented Microverse Scooters comes from an invention from Rick Sanchez. His Microverse Battery allows an infinite amount of energy to come from 
				within the battery to power our beautiful and stylish scooters for your enjoyment! Soon after Rick joined us, his grandson followed and joined with our team a month later
				to help build our company into the multimillion dollar business we now are! We are currently in the talks with Mr. Musk about selling our batteries to Tesla for a larger audience.
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>
					<%= image_tag("https://vignette.wikia.nocookie.net/rickandmorty/images/a/a6/Rick_Sanchez.png/revision/latest?cb=20160923150728", class: "image_responsive") %>
				</p>
			</div>
			<div class="col-md-6">
				<p>
					<%= image_tag("http://vignette4.wikia.nocookie.net/rickandmorty/images/4/41/Morty_Smith.jpg/revision/latest?cb=20170217193441", class: "image_responsive") %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Rick Sanchez</h3>
			</div>
			<div class="col-md-6">
				<h3>Morty Smith</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>
					The idea behind our patented Microverse Battery is our very own Rick Sanchez. Rick from an early age wanted to grow up to be a scientist, and worked really hard to achieve his goals of creating a renewable resource. After graduating from MIT and working for the governement for a stretch, he soon joined our team where he became our head of research and development on developing a top of the line, never run out of power battery! 
				</p>
			</div>
			<div class="col-md-6">
				<p> 
					Our head of the Enginerring department is none other than Morty Smith, Rick's Grandson! After traveling with his Grandfather and putting in some work with him, Morty talked his Grandfather into joining up with our business to create a top of the line Scooter to help with our global warming. Morty was able to take his grandfathers battery and turn it into our powersource for running our scooters with some help from Rick. A lot of help actually. 
				</p>
			</div>
		</div>
	</div>
</body>