//Main Controller

body {
	background-color: #e6ffff;
	position: relative;
	padding-top: 74px;
}

.container-fluid {
	width: 90%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

//Navigation 

.nav {
	opacity: 0.6;
	font-size: 1.3em;
	transition: color 600ms;
}

.nav a {
	color: #80aaff;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
}